*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

img,
picture,
video,
canvas,
svg {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font-family: inherit;
}

button {
    border: none;
    cursor: pointer;
}

textarea {
    resize: vertical;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    padding: 71px 24px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Red Hat Display", sans-serif;
    font-size: 1rem;
    color: #717fa6;
    background: url("../images/pattern-background-mobile.svg") no-repeat;
    background-size: contain;
    background-color: #e0e8ff;
}

.order-container {
    position: relative;
    padding: 192px 24px 32px;
    max-width: 327px;
    width: 100%;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 40px 40px -20px rgba(13, 48, 189, 0.15);
    overflow: hidden;
    text-align: center;
}

.order-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: url("../images/illustration-hero.svg") no-repeat center;
    background-size: cover;
    width: 100%;
    height: 10.4375rem;
}

.order-summary {
    color: #1f2e55;
    font-weight: 900;
    font-size: 1.375rem;
}

.order-description {
    padding: 0 8px;
    margin-top: 16px;
    font-size: 0.9375rem;
    font-weight: 500;
    line-height: 1.5625rem;
}

.order-subscription-plan {
    display: flex;
    align-items: center;
    margin: 24px 0;
    padding: 17px 16px 16px;
    background-color: #f7f9ff;
    border-radius: 11px;
}

.order-plan-details {
    padding-left: 20px;
    font-size: 0.875rem;
}

.order-plan-name {
    color: #1f2e55;
    font-weight: 900;
}

.change-plan {
    margin-left: auto;
    font-size: 0.8125rem;
    color: #382ae1;
    font-weight: 700;
    text-decoration: underline;
    transition: color 0.3s;
}
.change-plan:hover {
    color: #766cf1;
    text-decoration: none;
}

.btn {
    font-weight: 900;
    font-size: 0.9375rem;
}

.btn-proceed {
    padding: 15px 0;
    width: 100%;
    background: #382ae1;
    border-radius: 11px;
    color: #fff;
    box-shadow: 0px 20px 20px 0px rgba(56, 42, 225, 0.19);
    transition: background 0.3s;
}
.btn-proceed:hover {
    background: #766cf1;
}

.btn-cancel {
    margin-top: 24px;
    background: none;
    color: #717fa6;
    transition: color 0.3s;
}
.btn-cancel:hover {
    color: #1f2e55;
}

@media (min-width: 376px) {
    body {
        background-image: url("../images/pattern-background-desktop.svg");
    }
}
@media (min-width: 576px) {
    .order-container {
        max-width: 450px;
        padding: 265px 48px 48px;
    }
    .order-container::before {
        height: 13.75rem;
    }
    .order-summary {
        font-size: 1.75rem;
    }
    .order-description {
        padding: 0;
        margin-top: 17px;
        font-size: 1rem;
        line-height: 1.625rem;
    }
    .order-subscription-plan {
        display: flex;
        align-items: center;
        margin: 20px 0 32px;
        padding: 25px 24px;
    }
    .order-plan-details {
        font-size: 1rem;
    }
    .change-plan {
        font-size: 0.875rem;
    }
}/*# sourceMappingURL=main.css.map */