@use "./colors" as *;
@use "./typography" as *;
@use "./reset" as *;

body {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: $ff-base;
	font-size: rem(16px);
	color: $gray;
	background-color: $background;
}

button {
	display: block;
}
