@use "./colors" as *;
@use "./typography" as *;
@use "./reset" as *;

body {
	padding: 71px 24px;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: $ff-base;
	font-size: rem(16px);
	color: $gray;
	background: url("../images/pattern-background-mobile.svg") no-repeat;
	background-size: contain;
	background-color: $background;
}

.order-container {
	position: relative;
	max-width: 327px;
	width: 100%;
	background-color: $white;
	border-radius: 20px;
	box-shadow: 0px 40px 40px -20px rgba(13, 48, 189, 0.15);
	overflow: hidden;
}

.order-content::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	background: url("../images/illustration-hero.svg") no-repeat center;
	background-size: cover;
	width: 100%;
	height: rem(167px);
}

.order-content {
	padding: 192px 0 32px;
	text-align: center;
}

.order-summary {
	padding: 0 32px;
}

.order-summary h1 {
	color: $dark-blue;
	font-weight: $fw-bold;
	font-size: rem(22px);
}

.order-description {
	margin-top: 16px;
	font-size: rem(15px);
	font-weight: $fw-regular;
	line-height: rem(25px);
}

.order-subscription-plan {
	display: flex;
	align-items: center;
	gap: 20px;
	margin: 24px;
	padding: 17px 16px 16px;
	background-color: $pale-blue;
	border-radius: 11px;
}

.order-plan-details {
	font-size: rem(14px);
}

.order-plan-name {
	color: $dark-blue;
	font-weight: $fw-bold;
}

.change-plan {
	margin-left: auto;
	font-size: rem(13px);
	color: $blue;
	font-weight: $fw-semi-bold;
	text-decoration: underline;
	transition: color 0.3s;
	&:hover {
		color: $violet;
		text-decoration: none;
	}
}

.btn {
	font-weight: $fw-bold;
	font-size: rem(15px);
}

.btn-proceed {
	padding: 15px 65px;
	background: $blue;
	border-radius: 11px;
	color: $white;
	box-shadow: 0px 20px 20px 0px rgba(56, 42, 225, 0.19);
	transition: background 0.3s;
	&:hover {
		background: $violet;
	}
}

.btn-cancel {
	margin-top: 24px;
	background: none;
	color: $gray;
	transition: color 0.3s;
	&:hover {
		color: $dark-blue;
	}
}

@media (min-width: 376px) {
	body {
		background-image: url("../images/pattern-background-desktop.svg");
	}
}

@media (min-width: 576px) {
	.order-container {
		max-width: 450px;
	}

	.order-content::before {
		height: rem(220px);
	}

	.order-content {
		padding: 265px 0 48px;
		text-align: center;
	}

	.order-summary {
		padding: 0 48px;
	}

	.order-summary h1 {
		font-size: rem(28px);
	}

	.order-description {
		margin-top: 17px;
		font-size: rem(16px);
		line-height: rem(26px);
	}

	.order-subscription-plan {
		display: flex;
		align-items: center;
		margin: 20px 48px 32px;
		padding: 25px 24px;
	}

	.order-plan-details {
		font-size: rem(16px);
	}

	.change-plan {
		font-size: rem(14px);
	}

	.btn-proceed {
		padding: 15px 102px;
	}
}
